<html>

<head>
	<link rel="stylesheet" href="base.css">
</head>

<body>
	<div class="panel">
		<a href="#" class="btn">I'm a button!</a>
		<a href="#" class="btn btn-primary">I'm a button!</a>
		<a href="#" class="btn btn-success">I'm a button!</a>
		<a href="#" class="btn btn-important">I'm a button!</a>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">The panel</div>
		<a href="#" class="btn">I'm a button!</a>
		<a href="#" class="btn btn-primary">I'm a button!</a>
		<a href="#" class="btn btn-success">I'm a button!</a>
		<a href="#" class="btn btn-important">I'm a button!</a>
	</div>
	<div class="panel panel-warn">
		<div class="panel-heading">The panel</div>
		<a href="#" class="btn">I'm a button!</a>
		<a href="#" class="btn btn-primary">I'm a button!</a>
		<a href="#" class="btn btn-success">I'm a button!</a>
		<a href="#" class="btn btn-important">I'm a button!</a>
	</div>
</body>

</html>
